/* admin section */
.bitbucket-theme {
  /* Admin overview icons */
}
.bitbucket-theme.admin .content-body {
  overflow: hidden;
  /* http://www.quirksmode.org/css/clearing.html */
  width: 100%;
  /* http://www.quirksmode.org/css/clearing.html */
  box-sizing: border-box;
}
.bitbucket-theme.admin .content-body > .aui-group-navgroup > .aui-item .aui-group {
  margin-top: 0;
}
.bitbucket-theme.admin .content-body > .aui-group-navgroup > .aui-item .aui-item {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.bitbucket-theme.admin .content-body .breadcrumbs {
  margin-bottom: 10px;
  color: #0052CC;
  vertical-align: baseline;
}
.bitbucket-theme.admin .content-body .breadcrumbs + .aui-group {
  margin-top: 16px;
}
.bitbucket-theme.admin .content-body .breadcrumbs + header {
  margin-top: 0;
}
.bitbucket-theme.admin .content-body > h3 + .aui-message {
  margin-top: 12px;
}
.bitbucket-theme.admin .content-body .aui-page-header-main h2 {
  display: inline-block;
}
.bitbucket-theme.admin .content-body .aui-page-header-main h2 + .aui-button {
  margin-left: 10px;
}
.bitbucket-theme.admin .content-body .notifications > .aui-message {
  margin: 16px 0;
}
.bitbucket-theme.admin .content-body .icon-breadcrumbs-back {
  vertical-align: text-bottom;
}
.bitbucket-theme.admin .admin-section {
  margin: 0 16px 24px 0;
}
.bitbucket-theme.admin .admin-section h3 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 20px;
  border-bottom: 1px solid #DDD;
}
.bitbucket-theme.admin .admin-section .overview-links {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.bitbucket-theme.admin .admin-section .overview-links li {
  padding-bottom: 20px;
}
.bitbucket-theme.admin .admin-section .overview-links li > a {
  color: #0052CC;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  padding: 0 0 0 26px;
  background-repeat: no-repeat;
  background-image: url('icons/icons-admin.png');
  box-sizing: border-box;
}
.bitbucket-theme.admin .admin-section .overview-links li > a.has-icon {
  background-image: none;
  padding-left: 0;
}
.bitbucket-theme.admin .admin-section .overview-links li > a span.icon {
  vertical-align: middle;
  padding-right: 8px;
  display: inline-block;
  line-height: 16px;
}
.bitbucket-theme.admin .admin-section .overview-links li > a + .description {
  margin-top: 5px;
}
.bitbucket-theme.admin .admin-section .overview-links .aui-icon {
  padding: 0 10px 0 0;
  vertical-align: text-bottom;
  color: #5E6C84;
}
.bitbucket-theme.admin .admin-section .overview-links li > .description {
  display: block;
  color: #5E6C84;
  padding: 0 0 0 26px;
}
.bitbucket-theme.admin .admin-section .overview-links li > .admin-database-internal + .description,
.bitbucket-theme.admin .admin-section .overview-links li > .admin-mailserver-unconfigured + .description {
  color: #db963d;
}
.bitbucket-theme.admin .tabs-menu .aui-dropdown {
  min-width: 100%;
}
.bitbucket-theme .icon-admin-serversettings {
  background-position: 0 0;
}
.bitbucket-theme .icon-admin-authentication {
  background-position: 0 -32px;
}
.bitbucket-theme .icon-admin-applinks {
  background-position: 0 -64px;
}
.bitbucket-theme .icon-admin-groups {
  background-position: 0 -96px;
}
.bitbucket-theme .icon-admin-i18n {
  background-position: 0 -128px;
}
.bitbucket-theme .icon-admin-licensing {
  background-position: 0 -160px;
}
.bitbucket-theme .icon-admin-mailserver {
  background-position: 0 -192px;
}
.bitbucket-theme .icon-admin-permissions {
  background-position: 0 -224px;
}
.bitbucket-theme .icon-admin-plugins {
  background-position: 0 -256px;
}
.bitbucket-theme .icon-admin-systeminfo {
  background-position: 0 -288px;
}
.bitbucket-theme .icon-admin-userdirectory {
  background-position: 0 -320px;
}
.bitbucket-theme .icon-admin-users {
  background-position: 0 -352px;
}
.bitbucket-theme .icon-admin-database {
  background-position: 0 -384px;
}
.bitbucket-theme .admin-banners > .aui-item {
  text-align: center;
  padding: 0;
  margin: 0 24px 24px 0;
}
.bitbucket-theme .admin-banners a {
  text-align: left;
  display: inline-block;
  width: 270px;
  position: relative;
  background: #F3F3F3;
  border: 1px solid #DDD;
  padding: 15px 15px 15px 95px;
  margin: 0 auto;
  background-clip: padding-box;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px #FCFCFC;
}
.bitbucket-theme .admin-banners a:hover,
.bitbucket-theme .admin-banners a:active,
.bitbucket-theme .admin-banners a:focus {
  background: #DDD;
  border-color: #BBB;
  text-decoration: none;
  box-shadow: inset 1px 1px 2px #C9C9C9;
}
.bitbucket-theme .admin-banners a > .icon {
  display: block;
  position: absolute;
  left: 15px;
  width: 65px;
  height: 65px;
  background: transparent url('../com.atlassian.bitbucket.server.bitbucket-web:images-icons-banners/icons/icons-banners.png') no-repeat 0 0;
}
.bitbucket-theme .admin-banners > .aui-item {
  display: inline-block;
}
.bitbucket-theme .admin-banners > .aui-item + .aui-item {
  padding-left: 0;
}
.bitbucket-theme .admin-banners > .aui-item:last-child {
  margin-right: 0;
}
.bitbucket-theme .admin-banners h3 {
  font-size: 14px;
  color: #333;
  margin: 0 0 0.5em 0;
}
.bitbucket-theme .admin-banners p {
  color: #555;
  margin: 0;
}
.bitbucket-theme .admin-banners .create-user-link .icon {
  background-position: 0 -260px;
}
.bitbucket-theme .admin-banners .create-user-link:hover .icon {
  background-position: -85px -260px;
}
.bitbucket-theme .admin-banners .create-group-link .icon {
  background-position: 0 -5px;
}
.bitbucket-theme .admin-banners .create-group-link:hover .icon {
  background-position: -85px -5px;
}
.bitbucket-theme .admin-banners .manage-permissions-link .icon {
  background-position: 0 -345px;
}
.bitbucket-theme .admin-banners .manage-permissions-link:hover .icon {
  background-position: -85px -345px;
}
.bitbucket-theme .content-body .aui-group.user-picker {
  margin-top: 20px;
}
.bitbucket-theme .content-body .user-picker .filter-container,
.bitbucket-theme .content-body .group-picker .filter-container {
  width: auto;
}
.bitbucket-theme .content-body .user-picker .filter-container,
.bitbucket-theme .content-body .group-picker .filter-container {
  margin-top: 20px;
  padding: 7px 10px;
  background-color: #F4F5F7;
  border: solid #DFE1E6;
  border-width: 1px 0;
}
.bitbucket-theme .content-body .user-picker .filter-container,
.bitbucket-theme .content-body .group-picker .filter-container {
  border-bottom-width: 0;
}
.bitbucket-theme .content-body .user-picker .filter-container label,
.bitbucket-theme .content-body .group-picker .filter-container label {
  display: inline-block;
  margin-right: 10px;
}
.bitbucket-theme .content-body .user-picker .filter-container input,
.bitbucket-theme .content-body .group-picker .filter-container input {
  display: inline-block;
}
.bitbucket-theme .content-body .user-picker .user-avatar {
  vertical-align: middle;
}
.bitbucket-theme .content-body .user-picker .display-name,
.bitbucket-theme .content-body .user-picker .name {
  vertical-align: bottom;
}
.bitbucket-theme .content-body .filter-container + .aui-toolbar {
  padding-top: 10px;
}
.bitbucket-theme .notifications:not(:empty) + .filter-container {
  border-top: 1px solid #DFE1E6;
}
@media screen and (max-width: 1310px) {
  .bitbucket-theme .admin-banners a {
    width: 180px;
    min-height: 88px;
  }
}
